<nav >
  <div class="row divNav">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-md-4 ">
        <a class="navbar-left"><img src="../assets/logo.png" class="logo d-inline-block align-top"></a>
      </div>
      <div class="col-md-4 text-center">
        <a class="blog-header-logo sprintText" routerLink="/">≡Sprint</a>
      </div>
      <div class="col-md-4 d-flex justify-content-end align-items-center">
        <a class="btnNavbar" *ngIf="!auth.isAuthenticated()" routerLink="" (click)="auth.login()">Login</a>
        <a class="btnNavbar" *ngIf="auth.isAuthenticated()" routerLink="/sprint" >Sprints</a>
        <a class="btnNavbar" *ngIf="auth.isAuthenticated()" routerLink="" (click)="auth.logout()">Logout</a>
      </div>
    </div>
    
  </div>
  </nav>